<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542463403927-7jgjoor51bq4feef9spvq00erugp5jsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542463403927-7jgjoor51bq4feef9spvq00erugp5jsc</string>
	<key>API_KEY</key>
	<string>AIzaSyAQUYEb73fm33iIFRlo0TNIIOjPrHweXYw</string>
	<key>GCM_SENDER_ID</key>
	<string>542463403927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpeng202.racelace</string>
	<key>PROJECT_ID</key>
	<string>racelace</string>
	<key>STORAGE_BUCKET</key>
	<string>racelace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542463403927:ios:6558d6e8b3153e7d</string>
	<key>DATABASE_URL</key>
	<string>https://racelace.firebaseio.com</string>
</dict>
</plist>